<footer class="bg-black text-white py-12">
    <div class="container mx-auto px-4">
        <div class="grid grid-cols-1 md:grid-cols-4 gap-8">
            <div>
                <div class="flex items-center mb-4">
                    <span class="font-black text-2xl tracking-tight">Making Something</span
                    >
                </div>
                <p class="text-gray-400">
                    If you can imagine you can make it! 😼
                </p>
            </div>
            <div>
                <h3 class="font-bold text-lg mb-4">Servicios</h3>
                <ul class="space-y-2">
                    <li>
                        <a href="#" class="text-gray-400 hover:text-white">
                            Diseño e Impresion 3D
                        </a>
                    </li>
                    <li>
                        <a href="#" class="text-gray-400 hover:text-white">
                            Creacion de pines 
                        </a>
                    </li>
                    <li>
                        <a href="#" class="text-gray-400 hover:text-white">
                            Diseño y programacion web
                        </a>
                    </li>
                </ul>
            </div>
            <div>
                <h3 class="font-bold text-lg mb-4">Tienda</h3>
                <ul class="space-y-2">
                    <li>
                        <a href="#" class="text-gray-400 hover:text-white">
                            Pines personalizados
                        </a>
                    </li>
                    <li>
                        <a href="#" class="text-gray-400 hover:text-white">
                            Impresion 3D
                        </a>
                    </li>
                </ul>
            </div>
            <div>
                <h3 class="font-bold text-lg mb-4">Contacto</h3>
                <ul class="space-y-2">
                    <li class="text-gray-400 hover:text-white">mar@makingsomething.com 😺</li>
                    <li class="text-gray-400 hover:text-white">
                        <a href="https://wa.me/qr/AHFH55RNIGJ4J1" target="_blank">(+52) 771-354-9396 😽</a>
                    </li>
                    <li class="text-gray-400 hover:text-white">
                        <a href="https://www.instagram.com/making.something_" target="_blank">Instagram 😸</a>
                    </li>
                </ul>
            </div>
        </div>
        <div
            class="border-t border-gray-800 mt-8 pt-8 flex flex-col md:flex-row justify-between items-center"
        >
            <p class="text-gray-400">© 2025 Making Something. All rights reserved.</p>
            <div class="flex space-x-4 mt-4 md:mt-0">
                <a href="#" class="text-gray-400 hover:text-white">
                    Privacy Policy
                </a>
                <a href="#" class="text-gray-400 hover:text-white">
                    Terms of Service
                </a>
                <a href="#" class="text-gray-400 hover:text-white">
                    Shipping & Returns
                </a>
            </div>
        </div>
    </div>
</footer>
