---
import { PanelRightOpen, ShoppingCartIcon } from "@lucide/astro";
---

<header class="sticky top-0 w-full z-1 bg-primary flex justify-center items-center">
    <section class="flex container mx-auto py-6 px-4 items-center justify-between">
        <div>
            <a href="/" class="flex items-center gap-2">
                <img src="/logo.svg" alt="logo" class="w-10 h-10" />
                <div class="flex flex-col">
                    <span class="text-sm lg:text-lg font-bold">Making Something</span>
                    <span class="text-center text-gray-800 text-xs md:text-sm">(Beta 0.8.0)</span>
                </div>
            </a>
        </div>
        <div class="flex justify-center items-center gap-4">
            <button
                class='p-2 rounded-lg hover:bg-gray-200 border-1 border-gray-200 transition-colors duration-200 hover:cursor-pointer'
                id='open-cart'>
                <ShoppingCartIcon
                aria-label='Abrir carrito de compra'
                class='text-black'
            />
            </button>
            <button 
                id="open-sidebar" 
                class="p-2 rounded-lg hover:bg-gray-200 border-1 border-gray-200 transition-colors duration-200 hover:cursor-pointer"
                aria-label="Abrir menú">
                <PanelRightOpen />
            </button>
        </div>
    </section>
</header>