---

import LogginButtons from "../ui/buttons/LogginButtons";
import { PanelRightCloseIcon } from "@lucide/astro";
import Navbar from "./Navbar.astro";

interface Props {
    isHome?: boolean;
}

const { isHome = false } = Astro.props;

const homeLinks = [
    { label: "Inicio", href: "#home", color: "200,0,255,0.8" },
    { label: "Productos", href: "#products", color: "0,165,255,0.8" },
    { label: "Servicios", href: "#services", color: "40,200,0,0.8" },
    { label: "Contacto", href: "#contact", color: "255,160,0,0.8" },
];

const pagesLinks = [
    { label: "Inicio", href: "/", color: "200,0,255,0.8" },
    { label: "Productos", href: "/Products", color: "0,165,255,0.8" },
    { label: "Blog", href: "/Blog", color: "40,200,0,0.8" },
];
---

<div id="sidebar-container">
    <aside
        id="sidebar"
        class="fixed top-0 right-0 z-20 w-1/2 lg:w-[450px] h-full bg-white shadow-2xl transform translate-x-full transition-transform duration-300 ease-in-out"
    >
        <div class="w-full flex justify-end items-center pt-6 pr-7">
            <button
                id="close-sidebar"
                class="p-2 rounded-lg hover:bg-gray-200 border-1 hover:border-gray-100 transition-colors duration-200 hover:cursor-pointer"
                aria-label="cerrar barra lateral"
            >
                <PanelRightCloseIcon />
            </button>
        </div>
        <div class="flex justify-center items-center pt-10">
            <LogginButtons client:load/>
        </div>
        {isHome ? (
            <Navbar links={homeLinks} />
        ) : (
            <Navbar links={pagesLinks} />
        )}
    </aside>
</div>