---
import ActivityFiles from "@/components/ActivityFiles";
import Layout from "@/layouts/Layout.astro";
---

<Layout>
    <main class="min-h-screen">
        <section class="flex flex-col justify-center items-center w-full py-40">
            <h1 class="text-3xl font-extrabold">Subir archivos y actividades</h1>
            <ActivityFiles client:only="react"></ActivityFiles>
        </section>  
    </main>
</Layout>