---
import Log from "@/components/forms/Login.tsx"
import Layout2 from "@/layouts/Layout2.astro";

---

<Layout2>
    <section class="container mx-auto flex justify-center items-center">  
        <div class="w-full md:w-1/2 ">
            <Log client:idle ></Log>
        </div>   
    </section>
</Layout2>