---
import Layout from "@/layouts/Layout.astro";
import { Image } from 'astro:assets';
---

<Layout>
    <section class="items-center justify-center w-full min-h-screen mt-5 px-2">
        <div class="flex items-center justify-center">
            <p>En construccioooooon ^^</p>
        </div>
        <Image src="/assets/under_construction.png" alt="Página en construcción" width="600" height="400" class="mx-auto my-10"/>
    </section>
</Layout>
