---
import SecondaryButton from "../ui/buttons/SecondaryButton";
---

<section id="home" class="h-full flex justify-center items-center flex-col md:flex-row px-4 gap-10 md:gap-0">
    <div class="flex flex-col gap-6 justify-start items-start md:w-5/6 lg:w-2/3">
        <h1 class="font-medium text-gray-500">Hola, bienvenido a <span class="font-bold">Making Something</span> ^^</h1>
        <p class="font-extrabold text-7xl">If you can imagine you can make it! 游떂</p>
        <p class="font-medium text-gray-600">Explora nuestra selecci칩n de productos m치s vendidos, sum칠rgete en nuestro blog y acomp치침anos en cada paso de nuestro camino.</p> 
        <SecondaryButton href="/" text="Ver productos" color="bg-amber-400"></SecondaryButton>
    </div>
    <!-- <div class="md:w-1/2 object-contain flex items-center justify-center p-10 group"></div>-->
</section>