---
import Button from "./ui/buttons/PrimaryButton.astro";
---

<header class="fixed w-full ">
    <nav class="flex container mx-auto md:p-10 px-4 py-6 items-center justify-between md:backdrop-blur-xs">
        <a href="/" class="flex items-center gap-2">
            <img src="/logo.svg" alt="logo" class="w-10 h-10" />
            <span class="text-lg font-bold">Making Something</span>
        </a>
        <ul class="items-center md:gap-8 text-nowrap hidden md:flex">
            <li>
                <Button href="#home" text="Home" color="200,0,255,0.5"></Button>
            </li>
            <li>
                <Button href="#products" text="Products" color="0,165,255,0.8"></Button>
            </li>
            <li>
                <Button href="#contact" text="Contact" color="255,160,0,0.8"></Button>
            </li>
        </ul>
        <div class="md:hidden">
            <button type="button" onclick="handleClick()" class="hamburger" aria-label="menu">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-6 w-6"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M4 6h16M4 12h16m-7 6h7"
                    ></path>
                </svg>
            </button>
            <div id="nav" class="fixed top-0 left-0 w-full h-full bg-white z-40 transform -translate-y-full transition-transform duration-300 ease-in-out"> 
                <ul class="flex flex-col w-full h-full justify-evenly items-center py-20 gap-8 md:gap-8 text-nowrap md:flex">
                    <li>
                        <button type="button" onclick="navClick()">
                            <Button href="#home" text="Home" color="200,0,255,0.5"></Button>
                        </button>
                    </li>
                    <li>
                        <button type="button" onclick="navClick()">    
                            <Button href="#products" text="Products" color="0,165,255,0.8"></Button>
                        </button>
                    </li>
                    <li>
                        <button type="button" onclick="navClick()">
                            <Button href="#contact" text="Contact" color="255,160,0,0.8"></Button>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<script is:inline>    
    const handleClick = () => {
        const nav = document.getElementById("nav");
        if (nav) {
            nav.classList.remove('transform');
            nav.classList.remove('-translate-y-full');
        }
    }

    const navClick = () => {
        const nav = document.getElementById("nav");
        if (nav) {
            setTimeout(() => {    
                nav.classList.add('transform');
                nav.classList.add('duration-600')
                nav.classList.add('-translate-y-full');
            }, 300);
        }
    }
</script>