---
interface Props {
    href: string;
    text: string;
    color: string;
}

const { href, text, color} = Astro.props as Props;
---

<a href={href} class=`px-6 py-2 text-black font-bold border ${color} border-black rounded-lg shadow-[4px_4px_0px_0px_rgba(0,0,0,1)] hover:border-1 hover:shadow-[8px_8px_0px_0px_rgba(0,0,0,1)] transition `>
    {text}
</a>